<form method="POST" action="/new">
  <input type="text" name="author" placeholder="Author" />
  <textarea name="message" placeholder="Message"></textarea>
  <button type="submit">Submit</button>
</form>
